/* BASIC */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 47.5em) {
    font-size: 43.75%;
  }

}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: rgb(235, 230, 230);
  height: 100%;
  padding: 0 2rem;
}

img {
  height: auto;
  width: 100%;
}

.main {
  display: flex;
  min-height: 800px;

  @media only screen and (max-width: 47.5em) {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.paragraph-big {
  font-size: 5rem;
}

.container {
  max-width: 120rem;
  margin: 5rem auto;
  background-color: #fff;
  min-height: 120vh;
  border-radius: 6px;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  overflow: hidden;
}

/* BUTTONS */

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  background-color: #d35400;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all .2s;
  outline: none;

  &--search {
    transform: translateX(-3rem);
  }

  &:hover,
  &:focus {
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.5);
    background-color: #c24d00;
  }

  &--random,
  &--search {
    display: flex;
    align-items: center;
  }

}


.btn-delete {
  margin-left: 5px;
  position: absolute;
  right: 15px;
  padding: 2px;
  opacity: 0;
  transition: opacity .2s;

  & svg {
    fill: #d63031;
    height: 2.2rem;
    width: 2.2rem;
    transition: fill,transform .2s ease;
    backface-visibility: hidden;
  }

  &:hover svg,
  &:focus svg {
    transform: scale(1.1);
    fill: #be2627;
  }
}

.btn-fav {
  position: absolute;
  top: 5px;
  right: 5px;

  & svg {
    height: 5rem;
    width: 5rem;
    transition: fill,transform .2s ease;
    fill: #d63031;
  }

  &:hover svg {
    fill: #b02324;
    transform: scale(1.1);
  }

}
/* ICONS */

.icon {
  height: 3rem;
  width: 3rem;

  &--random,
  &--search {
    fill: #fff;
    margin-right: 1rem;
  }

  &--heart {
    fill: #d63031;
  }
}


/* HEADER */

.main-heading {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.6px;
  text-align: center;
}

.heading {
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.header {
  background-image: linear-gradient(to right top, rgba(52, 152, 219, .8), rgba(25, 96, 144, .8)), url("../img/drink.jpg");
  padding: 1rem;
}

/* SEARCH */

.search-bar {
  padding: 0 5rem;
  min-height: 8rem;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 47.5em) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem 5rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 6px;
    font-weight: 600;
    margin-left: 2rem;
  }

  &__text-box {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    @media only screen and (max-width: 47.5em) {
      margin-top: 1rem;
    }
  }
}

.search {
  width: 50%;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 47.5em) {
    margin-top: 1rem;
    width: 100%;
  }

  &__field {
    margin-left: 3rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 70%;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    transition: all .2s;
    outline: none;

    @media only screen and (max-width: 47.5em) {
      margin-left: 0;
    }

    &::placeholder {
      color: rgb(177, 177, 177);
      font-weight: 600;
    }

    &:focus {
      box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.5);
      transform: translateY(-2px);
    }

    &:focus + .btn--search {
      transform: translateY(-2px) translateX(-3rem);
    }
  }
}

/* DRINKS */

.drinks {
  flex: 0 0 75%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  @media only screen and (max-width: 47.5em) {
    order: 2;
  }
}

.drink {
  border-radius: 5px;
  min-height: 30rem;
  width: 25rem;
  margin: 0 10px;
  margin-top: 10px;

  overflow: hidden;box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.3);
  padding-bottom: 10px;
  transition: all .2s;

  &:hover .drink__fig {
    transform: scale(1);
  }

  &:hover .drink__fig::after {
    background-image: none;
  }

  &:hover {
    transform: translateY(-4px);
  }

  &__fig {
    position: relative;
    transform: scale(1.01);
    transition: all .2s;

    &::after {
      content: "";
      background-image: linear-gradient(to right top, rgba(52, 152, 219, .2), rgba(25, 96, 144, .2));
      width: 100%;
      height: 99%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .2s;
    }
  }

  &__link {

    &:link,
    &:visited {
      color: #394344;
      margin-top: 6px;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 1.8rem;
      text-align: center;
      display: block;
      transition: color .2s;
    }

    &:hover,
    &:active,
    &:focus {
      color: #d35400;
      outline: none;
    }

  }
}

/* FAVORITES */

.favorites {
  padding: 2rem 0;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(25, 96, 144, .3);

  @media only screen and (max-width: 47.5em) {
    order: 1;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(25, 96, 144, .3);
    border-left: none;
  }

  &__item {
    display: flex;
    padding: 5px 3rem 5px 1rem;
    align-items: center;
    position: relative;
    transition: all .2s;

    @media only screen and (max-width: 47.5em) {
      width: 33%;
    }

    &:hover {
      background-color: rgba(52, 152, 219, .2);
      transform: translateX(2px);
    }

    &:hover .btn-delete {
      opacity: 1;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__fig {
    width: 6rem;
    height: 6rem;
    position: relative;

    &::after {
      content: "";
      background-image: linear-gradient(to right top, rgba(52, 152, 219, .2), rgba(25, 96, 144, .2));
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;

      @media only screen and (max-width: 47.5em) {
        display: none;
      }
    }
  }

  &__image {
    border-radius: 50%;
  }

  &__name {
    color: #394344;
    font-weight: 600;
    margin-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    width: 65%;
  }
}

// RECIPE

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #394344;
  position: relative;

  &__title {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 3rem;
    color: #c24d00;
    font-size: 2.6rem;

    @media only screen and (max-width: 47.5em) {
      flex: 0 0 60%;
    }
  }

  &__fig {
    flex: 0 0 40%;
    overflow: hidden;
    position: relative;
    height: 100%;

    @media only screen and (max-width: 47.5em) {
      flex: 0 0 70%;
    }

    &::after {
      content: "";
      background-image: linear-gradient(to right top, rgba(52, 152, 219, .2), rgba(25, 96, 144, .2));
      width: 100%;
      height: 99%;
      position: absolute;
      top: 0;
      left: 0;

      &:hover {
        background-color: red;
      }
    }
  }

  &__img {
    border-radius: 2px;
  }

  &__info {
    flex: 0 0 40%;
    font-size: 1.6rem;
  }

  &__instruction {
    flex: 0 0 100%;
    margin-top: 3rem;
    font-size: 1.8rem;
    text-align: center;
  }

  &__instruction-title {
    color: #c24d00;
    margin-bottom: 1rem;
  }

  &__ingredient-fig {
    width: 5.6rem;
    height: 5.6rem;
    margin-right: 2rem;
    border-radius: 50%;
    padding: 2px;
  }

  &__span {
    font-weight: 700;
    color: #d35400;
  }

  &__ingredient {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
}

